<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".DebugWallpaperCaptureActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.WallpaperCapture" />
    </application>
</manifest>
